```
node_modules/
package-lock.json
*.log
*.tmp
*.swp
*.swo
*.out
dist/
build/
target/
coverage/
htmlcov/
.cov
.env
.env.local
.env.*
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
*.pyd
*.class
.vagrant/
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.gradle/
.nyc_output/
```